body{
    margin: 0px 0px 0px 0px;
    padding:0px;
}

a{
  text-decoration: none;
 }
 
.logo-1{
    margin-left:45px;
}

.tr1{
	background: #FFCC99;
}

.tr2{
	background: #000000;
	color: #ffffff;
	font-weight: bold;
}

.tr3{
	background: #FF9966;
}

.tr4{
	background: #FFFFCC;
}

td{
	text-align: center;
	width: 150px;
}